#navbar {
	background-color: #f8f9fa;
}

#navbar .navbar-brand img {
 height: 2rem;
}

#brands {
 background-image: url('../images/brand/bg.jpg');
 background-attachment: fixed;
 border-top: 5px solid;
 border-bottom: 5px solid;
 border-image-slice: 1;
 border-width: 5px;
 border-image-source: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

#brands img {
 filter: invert(70%);
 transition: .35s;
 cursor: pointer;
}

#brands img:hover {
 filter: drop-shadow(0 12px 24px rgba(255,255,255,.5)) invert(0%);
}

#video .tulisan {
	padding: 0 5rem 1rem 0;
}

#video .tulisan p {
	text-align: justify;
}

#video .video iframe {
	height: 22rem;
	border-radius: 10px;
}

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #f8f9fa;
}

footer .logo {
	padding-right: 7rem;
}

footer .logo img {
	width: 100%;
}

footer .sosmed a:nth-child(1) {
	color: #25d366;
}

footer .sosmed a:nth-child(2) {
	color: #c32aa3;
}

footer .sosmed a:nth-child(3) {
	color: #3b5998;
}

footer .sosmed a:nth-child(4) {
	color: #bb001b;
}