html {
	scroll-behavior: smooth;
}

#navbar {
	background-color: #f8f9fa;
}

#navbar .navbar-brand img {
 height: 2rem;
}

.swiper-container {
	margin-top: 3rem;
}

.swiper-container .swiper-wrapper img {
	width: 100%;
}

#visi-misi {
	margin: 1rem 0 1rem 0;
	padding: 2rem 0 2rem 0;
	background-color: #f8f9fa;
}

#visi-misi h1, #visi-misi .row .visi p {
	text-align: center;
}

#about {
  height: 400px;
  width: 100%;
  background-color: #fff;
  margin-top: 3rem;
  position: relative;
}

#about .container .background {
  height: 280px;
  width: 100%;
  background-color: #1c6708;
  position: relative;
  top: 70px;
  border-radius: 30px;
}

#about .container .background .bungkus {
  position: relative;
  display: block;
  height: 285px;
  width: 50%;
  background-image: linear-gradient(to top, #617249 -20%, #bed6a1 80%, #bed6a1 100%);
  transform: scale(1.2);
  border-radius: 30px;
  left: 6rem;
}

#about .container .background .bungkus img{
  position: absolute;
  width: 90%;
  left: 13px;
  bottom: 0;
  top: auto;
}

#about .container .background .konten {
  margin-left: -3rem;
  margin-top: 2rem;
  margin-right: 5rem;
  background-color: transparent;
  border-radius: 0;
  padding: 0;
}

#about .container .background .konten h1 {
  color: #fff;
  margin-bottom: 1rem;
}

#about .container .background .konten p {
  text-align: justify;
  color: #fff;
}

#video .row {
	padding-top: 3rem;
}

#video .tulisan {
	padding: 0 5rem 1rem 0;
}

#video .tulisan p {
	text-align: justify;
}

#video .video iframe {
	height: 22rem;
	border-radius: 10px;
}

#video .video img {
	width: 100%;
	border-radius: 10px;
}

footer {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: #f8f9fa;
}

footer .logo {
	padding-right: 7rem;
}

footer .logo img {
	width: 100%;
}

footer .sosmed a:nth-child(1) {
	color: #25d366;
}

footer .sosmed a:nth-child(2) {
	color: #c32aa3;
}

footer .sosmed a:nth-child(3) {
	color: #3b5998;
}

footer .sosmed a:nth-child(4) {
	color: #bb001b;
}

@media (max-width: 768px) {
.swiper-container {
	margin-top: 4rem;
}

#about {
  	height: 450px;
	margin-top: 7rem;
}

#about .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#about .container .background {
  top: 0;
}

#about .container .background .bungkus {
  height: 310px;
  width: 100%;
  transform: scale(1);
  left: 0;
}

#about .container .background .bungkus img{
  width: 80%;
  left:40px;
}

#about .container .background .konten {
  display: block;
  background-color: rgba(0,0,0,.8);
  border-radius: 10px;
  margin: 0;
  margin-top: -150px;
  padding: 1rem; 
  position: relative;
}

#about .container .background .konten p {
  margin-bottom: 0;
}

#visi-misi .us p, #visi-misi li {
	text-align: justify;
	padding: 1rem;
}

#video .tulisan h1 {
	text-align: center;
}

#video .tulisan, #video .tulisan p {
	padding: 1rem;
}

#video .video iframe {
	height: 14rem;
}

#video .row {
	padding-top: 1rem;
}

footer .logo {
	padding-right: 0;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

footer .logo img {
	width: 30%;
}
}